<!DOCTYPE html>

<html>

<head>
    <title>Higher/Lower</title>
    <script>
        var passedScore = '<%- Score %>'
        var passedUser = '<%- User %>'
        var session = '<%- session %>'
        var parsedSession = JSON.parse(session);
        if (parsedSession.loggedin != null && parsedSession.loggedin == true) {
            userInfo = {
                LoggedIn: parsedSession.loggedin,
                Username: parsedSession.username,
                Admin: parsedSession.admin,
                EventsInterested: parsedSession.eventsInterested,
                PersonalBest: parsedSession.personalBest
            }
        } else {
            userInfo = null;
        }
    </script>
    <%- include('../partials/head', {active: "Game" }) %>
        <%- include('../partials/login') %>


            <script src="scripts\game.js"></script>
            <link rel="stylesheet" href="stylesheets\game.css">
</head>

<body>

    <div id="pageContent">
        <h1>Higher/Lower</h1>
        <h2>To convince people that all animals are beautiful we made people rate some on their cuteness
            <br>We got 100 people to rate whether they thought the animal was cute or not and made this game.
            <br> An animal will be shown on the left and you have to guess whether the animal on the right got more
            or less cute votes.</br>If you want to appear on the leaderboard make sure you are logged in. Enjoy :))
        </h2>

        <div id="StartGameDiv">
            <button type="button" class="button  startButton" id="startGame"><span>Start Game</span></button>
        </div>
        <div id="gameDiv" style="display: none;">

        
            <div id="panelDivs">

                <div class="circle" id="conf"></div>
                <div class="circle" id="vs">
                    <h1>VS</h1>
                </div>

                <% if(PB!=null){%>
                    <div class="personalInfoDiv" id="PBDiv">
                        <h2>Personal Best:</h2>
                        <h2 id="PB">
                            <%=PB%>
                        </h2>
                    </div>
                    <%}%>

                        <div class="personalInfoDiv" id="ScoreDiv">
                            <h2>Score:</h2>
                            <h2 id="CS">0</h2>
                        </div>

                        <div id="LoserClass">
                            <h1>Unlucky!</h1>
                            <h2>You scored:</h2>
                            <h1 id="youScored"></h1>
                            <button type="button" class="button  startButton" id="newGame"><span>New
                                    Game</span></button>
                        </div>

                        <div id="img0" class="img">
                            <div class=" infoDiv">
                                <h1 id="name0" class="infoText"></h1>
                                <h1 id="number0" class="infoText rating"></h1>
                            </div>
                            <div class="imageSource">
                                <a href="" id="source0"></a>
                            </div>
                        </div>

                        <div id="img1" class="img"">
                    <div class=" infoDiv">
                            <h1 id="name1" class="infoText"></h1>
                            <h1 id="number1" class="infoText rating"></h1>
                        </div>
                        <div class="imageSource">
                            <a href="" id="source1"></a>
                        </div>
            </div>

            <div id="img2" class="img"">
                    <div class=" infoDiv">
                <h1 id="name2" class="infoText"></h1>
                <h1 id="number2" class="infoText rating"></h1>
            </div>
            <div class="imageSource">
                <a href="" id="source2"></a>
            </div>
        </div>
    </div>
    </br>
    <div id="buttonDiv">
        <button type="button" class="button" id="higher"><span><img style="height:25px; padding-right: 10px;"
                    src="images/up.png">Higher</span></button>
        <button type="button" class="button" id="lower"><span>Lower<img style="height:25px; padding-left: 10px;"
                    src="images/down.png"></span></button>
    </div>
    </div>

    </br>
    <div id="Leaderboard">

        <div class="leaderboardRow" id="titleRow">
            <h2>Rank</h1>
                <h2> Username</h1>
                    <h2>Score</h1>
        </div>

        <% for(i=0; i < 5; i++){ %>
            <% row="row" +i; %>
                <% userRow="UserRow" +i; %>
                    <% scoreRow="ScoreRow" +i; %>
                        <div class="leaderboardRow" id=<%=row %>>
                            <h3>
                                <%=i+1%>
                            </h3>
                            <h3 id=<%=userRow%>>
                                <%= User[i] %>
                            </h3>
                            <h3 id=<%=scoreRow%>>
                                <%= Score[i] %>
                            </h3>
                        </div>
                        <% } %>

    </div>

    </div>
    <%- include('../partials/footer') %>
</body>

</html>